.watch-hero-section {
    position: relative;
    overflow: hidden;
    height: auto;
    max-width: 100%;
    margin-bottom: 100px;
    padding-right: 130px;
    padding-bottom: 50px;
    padding-left: 130px;
    // background-color: #000;
}
.watch-hero-wrapper {
    margin-top: 70px;
}