.card-image-wrapper {
    position: relative;
    top: -15%;
    right: -50%;
    bottom: 0%;
    overflow: hidden;
    width: 40em;
    height: 90vh;
}
.image-14 {
    position: relative;
    left: auto;
    top: 0%;
    bottom: 0%;
}

@media only screen and (max-width: 991px) {
    .card-image-wrapper {
        height: auto;
        max-width: 90%;
        right: auto;
        margin: 0 auto;
        padding: 0;
    }
    .image-14 {
        width: 100%;
    }
}