$background: #1b1b1b;
$color: #d3d3d3;

////////////////////////////////////////////////////////////////////////////////////

.global-footer {
    font-weight: normal;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}
.global-footer {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    pointer-events: auto;
    letter-spacing: normal;
}

.global-footer {
    font-size: 12px;
    line-height: 1.33337;
    font-weight: 400;
    letter-spacing: -.01em;
    background-color: $background;
    color: #fff;
    min-width: 1024px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.global-footer .footer-content {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 22px;
    padding-left: calc(22px + constant(safe-area-inset-left));
    padding-right: calc(22px + constant(safe-area-inset-right));
}
.global-footer .footer-content {
    padding-left: calc(max(22px, env(safe-area-inset-left)));
    padding-right: calc(max(22px, env(safe-area-inset-right)));
}

.global-footer .footer-directory {
    font-size: 12px;
    line-height: 1.33337;
    font-weight: 400;
    letter-spacing: -.01em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-top: 20px;
}
.global-footer .ft-directory-column {
    flex-basis: 25%;
}
.global-footer .ft-directory-column-section-state {
    display: none;
}
.global-footer .ft-directory-column-section {
    pointer-events: none;
}
.global-footer .ft-directory-column-section-anchor {
    right: 0;
    cursor: default;
    display: none;
    position: absolute;
    top: 0;
    width: 1px;
    height: 1px;
    z-index: 10;

}
.global-footer .ft-directory-column-section-anchor-close {
    display: none;
}
.global-footer .ft-directory-column-section-anchor-label {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
}
.global-footer .ft-directory-column-section-title {
    font-size: 14px;
    line-height: 1.33337;
    font-weight: 400;
    letter-spacing: -.01em;
    font-weight: 600;
    margin-right: 20px;
    margin-bottom: .8em;
}

////////// Dropdow //////////////////////
.global-footer .ft-directory-column-section {
    position: relative;
    z-index: 1;
    overflow: hidden;
    pointer-events: auto;
}
.global-footer .ft-directory-column-section-anchor {
    display: block;
}
.global-footer .ft-directory-column-section-title::after {
    content: '+';
    float: right;
    font-size: 14px;
    font-weight: normal;
    margin-top: -2px;
    margin-right: 8px;
    -webkit-transition: -webkit-transform .3s ease;
    transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease, -webkit-transform .3s ease;
}
.global-footer .ft-directory-column-section-state:checked+.ft-directory-column-section .ft-directory-column-section-title::after {
    -webkit-transform: rotate(45deg) scale(1.08);
    transform: rotate(45deg) scale(1.08);
}
.global-footer .ft-directory-column-section-state:checked+.ft-directory-column-section .ft-directory-column-section-list {
    position: static;
    visibility: visible;
    z-index: 1;
    -webkit-transform: none;
    transform: none;
    -webkit-transition: -webkit-transform 300ms ease;
    transition: -webkit-transform 300ms ease;
    transition: transform 300ms ease;
    transition: transform 300ms ease, -webkit-transform 300ms ease;
}

.global-footer .ft-directory-column-section-list {
    margin: 0;
    overflow: hidden;
    padding-top: 5px;
    padding-bottom: 16px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    visibility: hidden;
    z-index: -1;
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
}
///////////////////////////////////////

.global-footer .ft-directory-column-section-list {
    margin-right: 20px;
    list-style: none;
    padding: 0;
}
.global-footer .ft-directory-column-section-item {
    display: block;
    pointer-events: auto;
    margin-bottom: .8em;
}
.global-footer a {
    color: $color;
    text-decoration: none;
    letter-spacing: 0;
}

///////////////////
.global-footer .ft-footer {
    border-top: 1px solid #d2d2d7;
    color: #86868b;
    padding: 17px 0 21px;
    padding-bottom: calc(21px + constant(safe-area-inset-bottom));
}

.global-footer .ft-footer {
    padding-bottom: calc(max(21px, env(safe-area-inset-bottom)));
}
.global-footer .footer-directory+.ft-footer {
    padding-top: 34px;
    border-top: none;
}
.global-footer .ft-footer-shop {
    max-height: 9999px;
    padding-bottom: 3px;
}
.global-footer .footer-directory+.ft-footer .ft-footer-shop {
    margin-bottom: 7px;
    padding-bottom: 8px;
    border-bottom: 1px solid #d2d2d7;
}

.global-footer .footer-legal {
    position: relative;
    top: -3px;
    z-index: 1;
}
.global-footer .footer-legal::before, .global-footer .footer-legal:after {
    content: ' ';
    display: table;
}
.global-footer .footer-legal::after {
    clear: both;
}

.global-footer .footer-legal-copyright, .global-footer .footer-legal-links {
    margin-right: 30px;
    float: left;
    margin-top: 5px;
}

.global-footer .footer-legal-copyright {
    max-height: 9999px;
}
.global-footer .footer-legal-links {
    position: relative;
    top: -5px;
    z-index: 1;
}
.global-footer .footer-legal-link {
    border-right: 1px solid #d2d2d7;
    margin-right: 7px;
    padding-right: 10px;
    display: inline-block;
    margin-top: 5px;
    white-space: nowrap;
}
@media only screen and (max-width: 767px) {
    .global-footer .footer-directory+.ft-footer .ft-footer-shop {
        border-bottom: none;
    }
}

//////////////////////////////////////////////////

@media screen and (max-width: 991px) {
    .global-footer {
        min-width: 320px;
    }
}

@media screen and (max-width: 767px) {
    .global-footer .footer-content {
        padding: 0 16px;
    }
    .global-footer .footer-directory {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .global-footer .ft-directory-column {
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }
    .global-footer .ft-directory-column-section {
        position: relative;
        z-index: 1;
        border-bottom: 1px solid #d2d2d7;
        overflow: hidden;
        pointer-events: auto;
    }
    .global-footer .ft-directory-column-section-anchor {
        display: block;
    }
    .global-footer .ft-directory-column-section-title {
        font-weight: 400;
        margin: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        background: $background;
        cursor: pointer;
        position: relative;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        z-index: 2;
    }
    .global-footer .ft-directory-column-section-title::after {
        content: '+';
        float: right;
        font-size: 14px;
        font-weight: normal;
        margin-top: -2px;
        margin-right: 8px;
        -webkit-transition: -webkit-transform .3s ease;
        transition: -webkit-transform .3s ease;
        transition: transform .3s ease;
        transition: transform .3s ease, -webkit-transform .3s ease;
    }

    .global-footer .ft-directory-column-section-state:checked+.ft-directory-column-section .ft-directory-column-section-title::after {
        -webkit-transform: rotate(45deg) scale(1.08);
        transform: rotate(45deg) scale(1.08);
    }
    .global-footer .ft-directory-column-section-state:checked+.ft-directory-column-section .ft-directory-column-section-list {
        position: static;
        visibility: visible;
        z-index: 1;
        -webkit-transform: none;
        transform: none;
        -webkit-transition: -webkit-transform 300ms ease;
        transition: -webkit-transform 300ms ease;
        transition: transform 300ms ease;
        transition: transform 300ms ease, -webkit-transform 300ms ease;
    }

    .global-footer .ft-directory-column-section-list {
        margin: 0;
        overflow: hidden;
        padding-top: 5px;
        padding-bottom: 16px;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        visibility: hidden;
        z-index: -1;
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
    }
    .global-footer .ft-directory-column-section-item {
        margin-bottom: 0;
    }
    .global-footer .ft-directory-column-section-link {
        padding: 6px 14px;
        display: block;
    }
}

/////////////////////////////////////////
.footer-info {
    // border-bottom: 1px solid #d2d2d7;
    color: #86868b;
    padding: 20px 0 11px;
}