@font-face {
    src: url(./assets/fonts/SukhumvitSet-Medium.ttf);
    font-family: 'Sukhumvit';
}

#app {
    font-family: 'Sukhumvit';
}

a {
    color: black;
    margin-right: 25px;
    text-decoration: none;
  }
  a:hover {
    color: rgb(250,235,00);
  }