@font-face {
    src: url(./assets/fonts/SukhumvitSet-Medium.ttf);
    font-family: 'Sukhumvit';
}

body {
  margin: 0;
}

#app {
    font-family: 'Sukhumvit';
}

a {
    color: rgb(228, 228, 228);
    margin-right: 25px;
    text-decoration: none;
  }
  a:hover {
    color: rgb(216, 69, 69);
    border-bottom: 1px solid rgb(216, 69, 69);
  }
  