@font-face {
    src: url(./assets/fonts/SukhumvitSet-Medium.ttf);
    font-family: 'Sukhumvit';
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
}


#app {
    font-family: 'Sukhumvit';
}

a {
    text-decoration: none;
    letter-spacing: 0.1em;
    color: rgb(236, 236, 236);
}
a:hover {
  color: rgb(238,67,45);
}
  
  .action {
    display: inline-flex;
    align-items: center;
  }
  
  .action_icon {
    margin: 1rem 1.75rem 1rem 1rem;
    display: inline-block;
    z-index: 0;
    position: relative;
    line-height: 0;
  
    align-items: center;
  }
  .action_icon::before {
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    content: "";
    padding: 1rem;
    z-index: -1;
    position: absolute;
    transform: translate(-50%, -50%);
    background: white;
    transition: transform 0.2s linear;
    border-radius: 100%;
  }
  .action_message {
    white-space: nowrap;
    font-size: 2vmin;
  }
  
  .action:hover .action_icon:before{
    transform: translate(-50%,-50%) scale(1.1);
    background: rgb(238,67,45);
    color: #ffffff;
  }
